<div class="container">
    <div>MINHA CONTA</div>
    <div class="row">
        <div class="col-md-6">JÁ SOU CADASTRADO</div>
        <div class="col-md-6">CADASTRE-SE</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="facebook-login-button">LOGIN COM FACEBOOK</button>
        </div>
        <div class="col-md-6">
            <button class="google-login-button">LOGIN COM GMAIL</button>
        </div>
    </div>
    <div>ou</div>
    <div class="row">
        <input type="text" class="email-login"/>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="password" class="password-login"/>
        </div>
        <div class="col-md-4">
            <input type="button" class="login-form"/>
        </div>
    </div>
</div>