{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
<div class="col-lg-6 col-sm-6 m-auto">
    <div class="row login">
        <h1 class="container text-center text-capitalize spacing-top my-account-title" todo="use-i18n">MINHA CONTA</h1>
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 profile-interaction" todo="use-i18n">
            <a href="{% url 'account:login' %}" todo="use-i18n">
                JÁ SOU CLIENTE
            </a>
          </div>
          <div class="col-md-2">ou</div>
          <div class="col-md-5 profile-interaction  profile-interaction-active">
              
              CADASTRAR-SE
          </div>
        </div>
          {% include "account/partials/social_login.html" %}
          <div class="or-field">ou</div>
          {% include "account/partials/signup_form.html" %}
      </div>
    </div>
  </div>
{% endblock %}
