{% extends "product/product_list_base.html" %}
{% load i18n %}
{% load static %}

<li>
    <a href="{% url 'home' %}">{% trans "Home" context 'Category breadcrumbs home' %}</a>
</li>
{% for ancestor in object.get_ancestors %}
<li>
    <a href='{{ ancestor.get_absolute_url }}'>{{ ancestor.translated.name }}</a>
</li>
{% endfor %}
<li>
    <a href='{{ object.get_absolute_url }}'>{{ object.translated.name }}</a>
</li>

{% block filters %}
    {% include "category/filters.html" with category=object %}
{% endblock filters %}