{% load bootstrap_form from bootstrap4 %}
{% load i18n %}
{% load static %}

<form method="post" action="{% url 'account:signup' %}" novalidate>
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <input todo="use-i18n" type="email" name="username" class="form-control levantine-input-field" placeholder="E-MAIL" title="" required="" id="id_username">
    </div>
  </div>
  <div class="row spacing-top">
    <div class="col-md-8">
      <input todo="use-i18n" type="password" name="password" class="form-control levantine-input-field" placeholder="SENHA" title="" required="" id="id_password">
    </div>
    <div class="col-md-4">
      <button class="btn levantine-login-button" todo="use-i18n">
        CONFIRMAR
      </button>
    </div>
  </div>
  {% if REDIRECT_FIELD_VALUE %}
  <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}" />
  {% endif %}
</form>