{% load static %}
{% load i18n %}
{% with available_backends=site.settings.available_backends %}
{% if available_backends %}
  <div class="row">
    <div class="col-sm-6 col-md-12 col-xl-6">
        {% if 'facebook' in backends.backends and 'facebook' in available_backends %}
            <a class="btn social-btn facebook" href="{% url 'social:begin' 'facebook' %}" todo="use-i18n">
                LOGIN COM FACEBOOK
            </a>
        {% endif %}
    </div>
    <div class="col-sm-6 col-md-12 col-xl-6">
        {% if 'google-oauth2' in backends.backends and 'google-oauth2' in available_backends %}
            <a class="btn social-btn google" href="{% url 'social:begin' 'google-oauth2' %}" todo="use-i18n">
                LOGIN COM GMAIL
            </a>
        {% endif %}
    </div>
  </div>
{% endif %}
{% endwith %}