{% load i18n %}
{% load static %}
{% load taxed_prices %}
{% load get_product_image_thumbnail from product_images %}
{% load placeholder %}
{% load bootstrap_field from bootstrap4 %}
{% load get_object_properties from attributes %}

{% for product, availability in products %}
  <div class="col-6 col-lg-4 product-list">
    <a href="{{ product.get_absolute_url }}" class="link--clean">
      <div class="text-center">
        <div>
          <span class="product-list-item-name product-title-common product-title-color-{{ product.product_type }}" title="{{ product.translated }}">{{ product.translated }}</span>
          <div class="product-image">
            <img class="img-responsive lazyload lazypreload"
                 data-src="{% get_product_image_thumbnail product.get_first_image method="thumbnail" size=255 %}"
                 data-srcset="{% get_product_image_thumbnail product.get_first_image method="thumbnail" size=255 %} 1x, {% get_product_image_thumbnail product.get_first_image method="thumbnail" size=510 %} 2x"
                 alt=""
                 src="{% placeholder size=255 %}">
          </div>
        </div>
        <div class="product-price-range-text">
          {% if availability.available %}
            {% price_range availability.price_range %}
            {% if availability.on_sale %}
              {% if availability.price_range_undiscounted.start != availability.price_range.start %}
                <div class="product-list__sale">
                  <svg data-src="{% static "images/sale-bg.svg" %}" />
                  <span class="product-list__sale__text">
                    {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}
                    {% trans "Sale" context "Sale (discount) label for item in product list" %}
                  </span>
                </div>
              {% endif %}

            {% endif %}

            {% block orderform %}
              {% if product.is_in_stock %}
                <form id="product-form" role="form" class="product-form clearfix" method="post" action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
                  {% csrf_token %}
                  
                  <input type="hidden" name="variant" value="{{ product.variants.first.id }}" id="id_variant">
                  <input type="number" style="display: none" name="quantity" value="1" id="id_quantity">
        
                  <button class="btn product-add-to-cart-button" data-need="translate">
                    Adicionar ao <img src="{% static "images/cart.png" %}" alt="" width="32" height="32"/>
                  </button>
                </form>
              {% else %}
                  <!--button class="btn product-add-to-cart-button" data-need="translate" style="pointer-events: none; color: red">
                    Fora de estoque
                  </button-->
                  <p class="alert alert-warning">
                    {% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
                  </p>
              {% endif %}
            {% endblock %}

          {% else %}
            &nbsp;
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endfor %}
