{% load bootstrap_pagination from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from product_images %}
{% load i18n %}
{% load shop %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <button class="humus-product-add">
                <a href="/products/collection/humus-para-voce-6/" >
                    <span class="humus-product-content">Para Você</span>
                    <span class="humus-product-image-plate-common humus-product-image-plate-para_voce"></span>
                </a>
            </button>
        </div>
    
        <div class="col-lg-4">
            <button class="humus-product-add">
                <a href="/products/collection/humus-hummus-and-chill-7/" >
                    <span class="humus-product-content">Hummus & Chill</span>
                    <span class="humus-product-image-plate-common humus-product-image-plate-hummus_and_chill"></span>
                </a>
            </button>
        </div>
    
        <div class="col-lg-4">
            <button class="humus-product-add">
                <a href="/products/collection/humus-familia-e-festa-8/" >
                    <span class="humus-product-content">Família e Festa</span>
                    <span class="humus-product-image-plate-common humus-product-image-plate-para_muitos"></span>
                </a>
            </button>
        </div>
    </div>
</div>

{% endblock content %}