{% extends "base.html" %}
{% load bootstrap_pagination from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from product_images %}
{% load i18n %}
{% load shop %}
{% load static %}

{% block footer_scripts %}
  {{ block.super }}
{% endblock footer_scripts %}

{% block title %}
  {% if object.seo_title %}
    {{ object.translated.seo_title }}
  {% else %}
    {{ object.translated.name }} - {{ block.super }}
  {% endif %}
{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="{{ object.translated.seo_title|default:object.translated.name }}">
  {% get_object_properties object=object properties="seo_description,description" as seo_description %}
  <meta property="og:description" content="{{ seo_description }}">
  <meta name="description" content="{{ seo_description }}">

  {% if object.background_image %}
    <meta property="og:image"
          content="{% get_thumbnail object.background_image size='1080x440' method="thumbnail" rendition_key_set="background_images" %}">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}

  {% build_absolute_uri request=request location=object.get_absolute_url as object_url %}
  <meta property="og:url" content="{{ object_url }}">
  <link rel="canonical" href="{{ object_url }}?page={{ products_paginated.number }}">

  {% if products_paginated.has_previous %}
    <link rel="prev" href="{{ object_url }}?page={{ products_paginated.previous_page_number }}">
  {% endif %}

  {% if products_paginated.has_next %}
    <link rel="next" href="{{ object_url }}?page={{ products_paginated.next_page_number }}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
  <div class="row">
    <div class="col-md-7">
      <ul class="breadcrumbs list-unstyled d-none d-md-block">
        {% block breadcrumb_part %}{% endblock %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block topcontent %}
  {% if object.background_image %}
    <div class="row" id="product-list-image" alt="{{ object.background_image_alt }}"
         style="background-image: url({% get_thumbnail object.background_image size='1080x440' method="thumbnail" rendition_key_set="background_images" %})"></div>
  {% endif %}

  {% if object.name == 'humus-para-voce' %}

  {% elif object.name == 'humus-hummus-and-chill' %}

  {% elif object.name == 'humus-familia-e-festa' %}

  {% else %}
    <div class="row">
      <div class="col-sm-12">
        <div class="category-main-text-container">
          <h1 class="category-main-text text-outline-black">{{ object.name }}</h1>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock topcontent %}


{% block content %}

  {% if object.name == 'HUUUMMMUS!' %}
    {% include "product/_items_huuummmus.html" %}
  {% elif object.name == 'humus-para-voce' %}
    {% include "product/_items_para-voce.html" with products=products %}
  {% elif object.name == 'humus-hummus-and-chill' %}
    <div>Hummus & Chill</div>
  {% elif object.name == 'humus-familia-e-festa' %}
    <div>Família e Festa</div>
  {% else %}
    {% block collection_published_warning %}{% endblock %}
    <div id="product-list-page">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          {% block filters %}{% endblock filters %}
        </div>
        <div class="col-md-8 col-lg-9 product-list">
          <div class="product-list__header">
            <div class="product-list__header__title">
            {% block title_tree %}{% endblock title_tree %}
          </div>
          <div>
            <h3 class="d-md-none filters-toggle">
              {% trans 'Filters' context 'Filter heading title' %}
            </h3>
            <div class="sort-by">
              <div class="click-area d-none"></div>
                <button class="btn btn-link">
                  <div>
                    <span>
                      {% if now_sorted_by == 'name' %}
                        {% blocktrans trimmed %}
                          Sort by: <b>name</b>
                        {% endblocktrans %}
                      {% elif now_sorted_by == 'price' %}
                        {% blocktrans trimmed %}
                          Sort by: <b>price</b>
                        {% endblocktrans %}
                      {% endif %}
                    </span>
                    <div class="sort-order-icon">
                      {% if is_descending %}
                        <svg data-src="{% static "images/chevron-down.svg" %}" />
                      {% else %}
                        <svg data-src="{% static "images/chevron-up.svg" %}" />
                      {% endif %}
                    </div>
                  </div>
                </button>
                <ul class="sort-list d-none">
                  {% for choice, label in sort_by_choices.items %}
                    <li>
                      <div class="row">
                        <div class="col-6">
                          {% trans 'Sort by' context 'Product list filters' %}:
                          <strong>{{ label }}</strong>
                        </div>
                        <div class="col-6">
                          <div>
                            <a href="{% get_sort_by_url choice %}">
                              <span>{% trans 'ascending' context 'sort by option' %}</span>
                              <div class="sort-order-icon float-right">
                                <img class="lazyload lazypreload" data-src="{% static "images/arrow-up.svg" %}">
                              </div>
                            </a>
                            <a href="{% get_sort_by_url choice descending=True %}">
                              <span>{% trans 'descending' context 'sort by option' %}</span>
                              <div class="sort-order-icon float-right">
                                <img class="lazyload lazypreload" data-src="{% static "images/arrow-down.svg" %}">
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div>
              <div>
                {% if products %}
                  <div class="row">
                    {% include "product/_items.html" with products=products %}
                  </div>
                  <div class="row">
                    <div class="m-auto">
                      {% if products_paginated.has_other_pages %}
                        {% bootstrap_pagination products_paginated extra=request.GET.urlencode %}
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <div class="row no-results">
                    <div class="col-12">
                      <svg data-src="{% static "images/no-results-bg.svg" %}"
                            width="360"
                            height="360" />
                      <p>{% trans "Sorry, no matches found for your request." context "Search without results text" %}</p>
                      <p>{% trans "Try again or shop new arrivals." context "Search without results text" %}</p>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}