.my-account-title {
    color: #F29100;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 3px 1px 0 #000, -3px -1px 0 #000, 3px -1px 0 #000, -3px 1px 0 #000, 3px -3px 0 #000;
    margin: 47px;
}