.footer-sea {
  
}

.footer-waves-container {
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.footer-sea-background-3 {
  margin: 0 auto;
  width: 100%;
  height: 256px;
  background-image: url(/static/assets/footer-design-2.png);
  background-repeat: repeat-x;
  background-position: right 0px bottom 0px;
  animation: waving 16s infinite linear;
  z-index: -45;
  bottom: 48px;
  position: absolute;
}

.footer-sea-background-2 {
  margin: 0 auto;
  width: 100%;
  height: 256px;
  background-image: url(/static/assets/footer-foreground-image.png);
  background-repeat: repeat-x;
  background-position: right 0px bottom 0px;
  animation: waving 14s infinite linear;
  z-index: -45;
  bottom: 32px;
  position: absolute;
}

.footer-sea-background-1 {
  margin: 0 auto;
  width: 100%;
  height: 256px;
  background-image: url(/static/assets/footer-design-2.png);
  background-repeat: repeat-x;
  background-position: right 0px bottom 0px;
  animation: waving 12s infinite linear;
  z-index: -45;
  bottom: 16px;
  position: absolute;
}

.footer-sea-foreground {
  margin: 0 auto;
  width: 100%;
  height: 256px;
  background-image: url(/static/assets/footer-foreground-image.png);
  background-repeat: repeat-x;
  background-position: right 0px bottom 0px;
  animation: waving 10s infinite linear;
  z-index: 10;
  bottom: 0px;
  position: absolute;
}

.footer-boat {
  margin: 0 auto;
  width: 100%;
  height: 128px;

  left: -10%;
  bottom: 185px;
  animation: boat-swim 30s infinite linear;
  overflow: hidden;
  z-index: -45;
  position: absolute;
}

.boat-image {
  background-image: url(/static/assets/boat.png);
  background-repeat: no-repeat;
  animation:  boat-rotating 5s infinite ease-in-out;
  height: 128px;
  width: 128px;
}

@keyframes waving {
  0% {
    background-position: right 0% bottom 0px;
  }
  100% {
    background-position: right 100% bottom 0px;
  }
}

@keyframes boat-swim {
  0% {
    transform: translate(-10%);
  }

  100% {
    transform: translate(110%);
  }
}

@keyframes boat-rotating {
  0% {
    transform: rotate(-10deg)
  }
  
  50% {
    transform: rotate(10deg)
  }

  100% {
    transform: rotate(-10deg)
  }
}

.footer-content {
  color: white;
  font-weight: bold;
}

.footer-align {
  height: 128px;
  position: relative;
  bottom: -40%;
}

.footer-social-buttons {
  width: 64px;
  height: 64px;
}

.footer-separator {
  height: 100px;
}

.footer-container {
  

  .footer {
    width: 100%;
  
    &__menus {
      background-color: $light-gray;
      padding: $global-padding * 2 0;
      margin-top: $global-margin * 8;
      @include media-breakpoint-down(xs) {
        text-align: center;
        margin-top: $global-margin * 2;
      }
      .menu__item {
        & > a {
          font-weight: 600;
        }
      }
      &__social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
          margin-top: $global-margin * 3;
        }
        &-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        }
      }
    }
    &__copy {
      padding: $global-padding * 2 0 $global-padding * 3;
      &-text {
        text-align: right;
      }
    }
    &__logo {
      margin-bottom: $global-margin;
      svg {
        height: 38px;
        width: 100%;
      }
    }
    hr {
      margin-top: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      a {
        color: $black;
        line-height: 2;
      }
    }
    a {
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
      &.social-footer {
        background-color: $dark-blue;
        border-radius: 100%;
        display: inline-block;
        height: 36px;
        margin-bottom: $global-margin;
        margin-right: $global-margin;
        width: 36px;
        svg {
          height: 16px;
          margin-top: 8px;
          width: 100%;
        }
      }
    }
  }
}

.maincontent {
  @include media-breakpoint-down(sm) {
    margin-top: $global-margin * 7;
  }
}
