.text-outline-black {
    text-shadow: -3px -3px 0px #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}


@font-face {
    font-family: BaseNine;
    font-weight: bold;
    src: url(/static/assets/BaseNineB.otf) format("opentype");
}

@font-face {
    font-family: BaseNine;
    font-style: italic;
    src: url(/static/assets/BaseNineI.otf) format("opentype");
}

@font-face {
    font-family: BaseNine;
    font-style: italic;
    font-weight: bold;
    src: url(/static/assets/BaseNineBI.otf) format("opentype");
}

@font-face {
    font-family: BaseNine;
    src: url(/static/assets/BaseNine.otf) format("opentype");
}

span, h1, div {
    font-family: BaseNine;
    text-transform: uppercase;
}

.humus-main-text  {
    color: #FAD041;
    font-style: italic;
    font-size: 140px;
    font-weight: bolder;
    text-shadow: 3px 1px 0 #000, -3px -1px 0 #000, 3px -1px 0 #000, -3px 1px 0 #000, 3px -3px 0 #000;
}

.humus-main-container {
    margin-top: 6%;
    margin-bottom: 4%;
}

.humus-main-text-outline {
    color: #000;
    font-style: italic;
    font-size: 150px;
    font-weight: bolder;
    text-decoration-style: solid;
    text-decoration-color: black;
}

.humus-main-container {
    margin-top: 10%;
    margin-bottom: 10%;
}


.title-container {
    z-index: 100;
    left: 50%;
    position: absolute;
    @media (min-width: 370px) {
        width: 100%;        
    }
    @media (min-width: 1024px) {
        width: 960px;
    }
}

.site-title {
    color: $title-color;
    float: left;
    
    @media (min-width: 370px) {
        font-size: 64px;
    }

    @media (min-width: 1024px) {
        font-size: 140px;
    }
}

.site-sub-title {
    font-size: 32px;
    color: white;
    float: right;
    position: absolute;
    bottom: 20%;
    right: 0%;
}

.row-title-container {
    transform: translateX(-50%);
}