.humus-product-add {
    background-color: #fff;
    width: 344px;
    margin: 0px;
    padding: 15px;
    border: 8px solid $common-font-color;
    border-radius: 10px;
}

.humus-product-add:hover {
    background-color: #FAD041;
}

.humus-product-content {
    margin: 10px;
    font-size: 60px;
    font-weight: bold;
    color: $common-font-color;
    float: left;
    text-align: start;
    cursor: pointer;
}

.humus-product-image {
    display: block;
}

.humus-product-image > * {
    margin: 0px;
    padding: 0px;
}

.humus-product-image-plate {
    background-image: url(/static/assets/humus.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 72px;
    display: inline-block;
}

.humus-product-image-plate-plus {
    font-size: 64px;
    vertical-align: super;
}

.humus-product-image-plate-common {
    width: 100%;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
}
.humus-product-image-plate-para_voce {
    background-image: url(/static/assets/para_voce.png);
}

.humus-product-image-plate-hummus_and_chill {
    background-image: url(/static/assets/hummus_and_chill.png);
}

.humus-product-image-plate-para_muitos {
    background-image: url(/static/assets/para_muitos.png);
}