.product-title-common {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    height: 82px;
}

.product-title-color-artesanal-red {
    color: red;
}

.product-title-color-artesanal-orangely {
    color: #fdbe6b;
}

.product-title-color-artesanal-orange {
    color: #ff9100;
}

.product-title-color-artesanal-green {
    color: #66ff66;
}

.product-add-to-cart-button {
    background-color: #fff;
    color: #000;
    border: 4px solid #000;
    padding: 1px;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    overflow-wrap: initial;
    font-size: 22px;
    text-align: center;
}

.product-price-range-text {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}