$sun-size: 200px;
$header-container-height: 300px;
.header-container {

}

.header {
    width: 100%;
    height: $header-container-height;
    z-index: 0;
    overflow: hidden;
    background-color: #164589;
}

.sun-container {
    left: 50%;
    position: relative;
    bottom: -70%;
    width: $sun-size;
    height: $sun-size;
    transform: translateX(-50%);
    
}

.sum-sphere {
    background-color: #b81d01;
    width: $sun-size;
    height: $sun-size;
    border-radius: 50%;
    border-width: 0px;
    border-color: black;
    /* overflow: hidden; */
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    border: 3px solid #000;
}

.sun-background {
    width: $sun-size;
    height: $sun-size;
    position: relative;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    transform: rotate(180deg);
    -webkit-animation: rotation 5s infinite ease-in-out;
    animation: rotation 5s infinite ease-in-out;
    
}

.sun-bean {
    width: 16%;
    height: 1000%;
    border: 3px solid #000;
    background-color: #f6cb41;
    left: 50%;
    transform: translate3d(-50%, 0px, 0px);
    position: relative;
    z-index: 2;
    perspective: 300px;
}

.sun-bean-pivot-1 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(-80deg);
    transform-style: preserve-3d;
}

.sun-bean-pivot-2 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(-55deg);
    transform-style: preserve-3d;
}

.sun-bean-pivot-3 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(-30deg);
    transform-style: preserve-3d;
}

.sun-bean-pivot-4 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(5deg);
    transform-style: preserve-3d;
}

.sun-bean-pivot-5 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(37deg);
    transform-style: preserve-3d;
}


.sun-bean-pivot-6 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(63deg);
    transform-style: preserve-3d;
}

.sun-bean-pivot-7 {
    width: inherit;
    height: inherit;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    transform: rotate(80deg);
    transform-style: preserve-3d;
}

.sun-background-animation {
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    animation: rotation 5s infinite ease-in-out;
}

@keyframes rotation {
    0% {
        transform: rotate(175deg);
    }
    50% {
        transform: rotate(185deg);
    }
    100% {
        transform: rotate(175deg);
    }
}