{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12">
        <div class="humus-main-container">
          <h1 class="humus-main-text">HUUUMMMUS!</h1>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
