{% load static %}
<div class="footer-separator"></div>
<div class="footer-container">
    <footer class="footer">
        <div class="footer-waves-container">
            
            <div class="footer-sea-background-3">
        
            </div>
        
            <div class="footer-sea-background-2">
        
            </div>
        
            <div class="footer-sea-background-1">
        
            </div>
    
            <div class="footer-boat">
                <div class="boat-image"></div>
            </div>
            
            <div class="footer-sea-foreground">
        
        
        
                <div class="footer-align footer-content">
                    <div class="container">
                        <div class="row">
        
                            <div class="col-md-2">
                                PORTUGUÊS
                            </div>
        
                            <div class="col-md-2">
                                SOBRE LEVANTIVE
                            </div>
        
                            <div class="col-md-2">
                                AJUDA
                            </div>
        
                            <div class="col-md-2">
                                PRIVACIDADE
                            </div>
        
                            <div class="col-md-2">
                                <a target="_blank" rel="noopener" href="https://www.facebook.com/">
                                    <svg data-src="{% static 'images/facebook-logo.svg' %}" width="36px" height="36px" />
                                </a>
                                <a target="_blank" rel="noopener" href="https://www.instagram.com/">
                                    <svg data-src="{% static 'images/instagram-logo.svg' %}" width="36px" height="36px" />
                                </a>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-2">
                                ENGLISH
                            </div>
        
                            <div class="col-md-2">
                                TORNE-SE PARCEIRO
                            </div>
        
                            <div class="col-md-2">
                                FAQs
                            </div>
        
                            <div class="col-md-2">
                                TERMOS
                            </div>
        
                        </div>
                    </div>
                </div>
        
            </div>
        </div>     
    </footer>
</div>