{% url 'home' as home_url %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load get_menu_item_name from shop %}
{% load static %}

<ul class="menu {% if horizontal %}nav mb-4 mb-md-0{% endif %}{% if request.get_full_path == home_url %} no-border{% endif %}">
  {% for item in menu_items %}
  {% with children=item.child_items %}
  <li class="{% if horizontal %}nav-item{% endif %} {% if children %}nav-item__dropdown{% endif %} menu__item">
    <a class="{% if horizontal %}nav-link{% endif %}" href="{{ item.url }}">
      {% get_menu_item_name lang_code=LANGUAGE_CODE menu_item=item %}
    </a>
    {% if children %}
    <div class="{% if horizontal %}nav-item__dropdown-content{% else %}nav-item__submenu{% endif %}">
      <div class="container">
        <ul>
          {% for child in children %}
            <li>
              <a href="{{ child.url }}">
                {% if horizontal %}
                  <strong>{% get_menu_item_name lang_code=LANGUAGE_CODE menu_item=child %}</strong>
                {% else %}
                  {% get_menu_item_name lang_code=LANGUAGE_CODE menu_item=child %}
                {% endif %}
              </a>

              {% with grandchildren=child.child_items %}
                {% if grandchildren %}
                  <ul>
                    {% for grandchild in grandchildren %}
                      <li>
                        <a href="{{ grandchild.url }}">
                          {% get_menu_item_name lang_code=LANGUAGE_CODE menu_item=grandchild %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </li>
  {% endwith %}
  {% endfor %}


  <li class="nav-item menu__item">
      <a rel="nofollow" href="{% url 'account:details' %}">
        <img src="{% static "images/profile.png" %}" alt="" width="64" height="64"/>
      </a>
    </li>

  <li class="nav-item menu__item">
    <a rel="nofollow" href="{% url "cart:index" %}">
      <img src="{% static "images/cart.png" %}" alt="" width="64" height="64"/>
      <span class="cart_badge {% if not cart_counter %}empty{% endif %}">
        {% if cart_counter %}
          {{ cart_counter }}
        {% else %}
          0
        {% endif %}
      </span>
    </a>
  </li>

  
</ul>
