{% load static %}
<div class="header-container">

        <div class="menu-icon-mobile d-md-none navbar__brand__menu-toggle closed open">
            <svg data-src="{% static "images/mobile-menu.svg" %}" width="28px" height="20px"/>
        </div>
        <section class="header">
            <div class="title-container">
                <div class="row row-title-container">
                    <div class="col-xl-10 site-title text-outline-black">LEVANTINE</div>
                    <div class="col-md-2 site-sub-title">COZINHA MEDITERRÂNEA</div>
                </div>
            </div>
        <div class="sun-container">
            <div class="sun-background">
    
                <div class="sun-bean-pivot-1">
    
                    <div class="sun-bean">
    
                    </div>
                </div>
    
                <div class="sun-bean-pivot-2">
                    <div class="sun-bean">
    
                    </div>
                </div>
    
                <div class="sun-bean-pivot-3">
                    <div class="sun-bean">
    
                    </div>
                </div>
    
                <div class="sun-bean-pivot-4">
                    <div class="sun-bean">
    
                    </div>
                </div>
    
    
                <div class="sun-bean-pivot-5">
                    <div class="sun-bean">
    
                    </div>
                </div>
    
    
                <div class="sun-bean-pivot-6">
                    <div class="sun-bean">
    
                    </div>
                </div>
    
    
                <div class="sun-bean-pivot-7">
                    <div class="sun-bean">
    
                    </div>
                </div>
                <div class="sum-sphere"></div>
            </div>
        </div>
    </section>
</div>